.profileContainer {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
}

.profileContainer > div {
  flex-basis: 50%;
  align-self: flex-end;
  font-weight: 500;
}

.profileAvatarContainer {
  display: flex;
  justify-content: center;
}

.profileAvatarContainer div:nth-child(2) {
  align-self: flex-end;
}

.profileCardAvatarContainer {
  display: flex;
  overflow: hidden;
}

.profileCardAvatar {
  height: 125px;
  width: 125px;
  border: 1px solid #d8d8d8;
  margin-right: 4%;
  text-align: center;
}

.profileCardAvatar img {
  max-width: 100%;
  max-height: 100%;
}
