.backBtn {
  background: transparent;
  border: none;
  text-decoration: underline;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  font-weight: bold;
  font-size: 1.1rem;
}

.backBtn:hover {
  color: #03033e;
}
